<app-nabvar></app-nabvar>

<div class="container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <div>
        <p>Wellcome <strong>{{panteraLoginName}}</strong></p>
      </div>
      <div>
        <p><strong>Productos</strong></p>
      </div>
      <table>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Existencias</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos ">
              <td>{{producto.id}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.existencias}}</td>
              <td><button id="button_delate" (click)="buttonClick_eliminar(producto)">Delete</button></td>
              <td><button id="button_delate" (click)="buttonClick_comprar(producto)">Comprar</button></td>
              <!--<td><button id="button_edit" (click)="buttonClick_edit(materia)">Edit</button></td>-->
            </tr>
          </tbody>
      </table>
      <button id="button_add" (click)="buttonClick_register()">Añadir Producto</button>

    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <!-- Informacion de las compras -->
      <div>
        <p><strong>Historial de Compras</strong></p>
      </div>
      <table>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of carrito ">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





